a{
    text-decoration: none;
    color: black;
}

body{
    background-color: plum;
}


#header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
}

.listaHead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    font-size: larger;
}

.listitaHead{
    margin: 10px;
}

.secLogo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 350px;
}

.logoImg{
    width: 250px;
    height: 150px;
    background-color: transparent;
}

.secNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secForm{
    padding-right: 5px;
}

.bannerImg{
    width: 100%;
    height: 193px;
}

.padrePeli{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.tamaño{
    width: 266px;
    height: 189px;
}

.secGenero{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}




footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

@media(max-width: 390px){

}