#header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.listaHead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.listitaHead{
    margin: 10px;
}

.padrePeli{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}