a{
    text-decoration: none;
    color: black;
}


#header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
}

.listaHead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    font-size: larger;
}

.listitaHead{
    margin: 10px;
}

.secLogo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 350px;
}

.logoImg{
    width: 250px;
    height: 150px;
    background-color: transparent;
}

.secNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bannerImg{
    width: 100%;
    height: 193px;
}

.padrePeli{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}







footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media(max-width: 320px){

}